{% load happ %}

<form class="form" role="form" method="get" action="" id="filter_form">
  <div class="col-md-6">
    <div class="form-group" style="margin-right:10px;">
        <label class="control-label" for="author">Пользователь</label>
        <select id="author" class="form-control selectize" name="author" multiple="multiple">
          {% for item in users %}
            <option value="{{item.id}}" data-subtext="{{item.role|role}}" {% if item.id|stringformat:'s' in request.GET|getlist:'author' %}selected="selected"{% endif %}>{{item.fn}}</option>
          {% endfor%}
        </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group" style="margin-right:10px;">
        <label class="filter-col" for="start_date">Дата: от</label>
        <input class="date-picker form-control" type="text" name="start_date" id="start_date" value={{ request.GET.start_date }}>
        <label class="filter-col"  for="end_date">до</label>
        <input class="date-picker form-control" type="text" name="end_date" id="end_date" value={{ request.GET.end_date }}>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <button type="submit" class="btn btn-default">Отправить</button>
  </div>
</form>
