{% load happ %}
{% load static %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th style="width: 1%">№</th>
      <th>Действие</th>
      <th>Автор</th>
      <th>Дата</th>
    </tr>
  </thead>
  <tbody id="event-table-body">
    {% for item in results %}
      <tr>
        <td>{{forloop.counter|page_counter:page}}</td>
        <td>
          {{item|action_text}}
        </td>
        <td>
          {{item.author.fn}}
        </td>
        <td>
          <span class="date_span">{{item.date_created}}</span>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div class="btn-group pull-right">
  {% if page > 5 %}
  <button class="btn btn-default" type="button" ic-get-from="{% url 'admin-log-list' %}?format=html&page=1&{% with q=request.GET|get:'ic-current-url'|split:'?' %}{{ q.1 }}{% endwith %}" ic-target="#log-table" ic-indicator="#indicator"><span aria-hidden="true">&laquo;</span></button>
  {% endif %}
  {% for item in count|paginate:page %}
    <button class="btn btn-default {% if item == page|to_int %}active{% endif %}" type="button" ic-get-from="{% url 'admin-log-list' %}?format=html&page={{item}}&{% with q=request.GET|get:'ic-current-url'|split:'?' %}{{ q.1 }}{% endwith %}" ic-target="#log-table" ic-indicator="#indicator">{{item}}</button>
  {% endfor %}
  {% if page|add:5 < count|page_count %}
  <button class="btn btn-default {% if forloop.counter == page|to_int %}active{% endif %}" type="button" ic-get-from="{% url 'admin-log-list' %}?format=html&page={{count|page_count}}&{% with q=request.GET|get:'ic-current-url'|split:'?' %}{{ q.1 }}{% endwith %}" ic-target="#log-table" ic-indicator="#indicator"><span aria-hidden="true">&raquo;</span></button>
  {% endif %}
</div>

<script>
  $(document).ready(function() {
    $('.date_span').text(function(i, oldText) {
        return moment(oldText).format('YYYY-MM-DD HH:mm:ss');
    });
  });
</script>
