{% load happ %}
<table class="table table-bordered" ic-src="/api/v1/admin/complaints.html" ic-target="#complaint-table" ic-indicator="#indicator">
  <thead>
    <tr>
      <th style="width:1%;">#</th>
      <th>Название события</th>
      <th>Автор</th>
      {% if item.status == 0 %}
        <th style="width: 30%">Действия</th>
      {% else %}
        <th>Ответ</th>
        <th>Ответчик</th>
      {% endif %}
    </tr>
  </thead>
  <tbody id="complaint-table-body">
  {% for item in results %}
    <tr id="row-{{item.id}}">
      <th scope="row">{{forloop.counter}}</th>
      <td>{{item.event.title}}</td>
      <td>{{item.author.fn}}</td>
      {% if item.status == 0 %}
        <td>
          <a href="#" class="btn btn-warning btn-xs" ic-on-beforeSend="$('#reply-form').modal('show');" ic-get-from="{% url 'admin-complaints-reply/form' id=item.id %}?format=html" ic-indicator="indicator-update" ic-target="#reply-form"><i class="fa fa-reply"></i> Ответить <i id="indicator-update" class="ic-indicator fa fa-spinner fa-spin" style="display: none;"></i></a>
        </td>
      {% else %}
        <td>{{item.answer|default:''}}</td>
        <td>{{item.executor.fn}}</td>
      {% endif %}
    </tr>
  {% endfor %}
    <tr ></tr>
  </tbody>
</table>
<div class="btn-group pull-right">
  <!-- <button class="btn btn-default" type="button"><i class="fa fa-angle-double-left"></i></button> -->
  {% for item in count|paginate %}
  <button class="btn btn-default" type="button" ic-get-from="{% url 'admin-complaints-list' %}?format=html&page={{forloop.counter}}" ic-target="#complaint-table" ic-indicator="#indicator">{{forloop.counter}}</button>
  {% endfor %}
<!--   <button class="btn btn-default active" type="button" ic-get-from="{% url 'admin-cities-list' %}?format=html&page=2" ic-target="#complaint-table" ic-indicator="#indicator">2</button>
  <button class="btn btn-default" type="button">3</button>
  <button class="btn btn-default" type="button"><i class="fa fa-angle-double-right"></i></button> -->
</div>
