{% load happ %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th style="width:1%;">#</th>
      <th>Полное имя</th>
      <th>Ник</th>
      <th>E-mail</th>
      <th>Телефон</th>
      {% if request.user.role != roles.moderator %}<th style="width: 30%">Действия</th>{% endif %}
    </tr>
  </thead>
  <tbody>
  {% for item in results %}
    <tr id="row-{{item.id}}">
      <th scope="row">{{forloop.counter|page_counter:page}}</th>
      <td>{{item.fn}}</td>
      <td>{{item.username}}</td>
      <td>{{item.email|default_if_none:""}}</td>
      <td>{{item.phone|default_if_none:""}}</td>
      {% if request.user.role != roles.moderator %}
        <td>
          {% if item.is_active %}<a href="#" class="btn btn-warning btn-xs" ic-post-to="{% url 'admin-users-deactivate' id=item.id %}" ic-indicator="indicator-update"><i class="fa fa-power-off"></i> Деактивировать <i id="indicator-update" class="ic-indicator fa fa-spinner fa-spin" style="display: none;"></i></a>{% else %}<a href="#" class="btn btn-warning btn-xs" ic-post-to="{% url 'admin-users-activate' id=item.id %}" ic-indicator="indicator-update"><i class="fa fa-power-off"></i> Активировать <i id="indicator-update" class="ic-indicator fa fa-spinner fa-spin" style="display: none;"></i></a>{% endif %}<a href="#" class="btn btn-info btn-xs" ic-on-beforeSend="$('#create-form').modal('show');" ic-get-from="{% url 'admin-users-detail' id=item.id %}?format=html" ic-target="#create-form" ic-indicator="indicator-update"><i class="fa fa-pencil"></i> Редактировать <i id="indicator-update" class="ic-indicator fa fa-spinner fa-spin" style="display: none;"></i></a>
        </td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
<!-- <div class="btn-group pull-right">
  {% for item in count|paginate %}
  <button class="btn btn-default {% if forloop.counter == page %}active{% endif %}" type="button" ic-get-from="{% url 'admin-users-list' %}?format=html&page={{forloop.counter}}" ic-target="#interest-table" ic-indicator="#indicator">{{forloop.counter}}</button>
  {% endfor %}
</div> -->
<div class="btn-group pull-right">
  {% if page > 5 %}
  <button class="btn btn-default" type="button" ic-get-from="{% url 'admin-users-list' %}?format=html&page=1&{% with q=request.GET|get:'ic-current-url'|split:'?' %}{{ q.1 }}{% endwith %}" ic-target="#interest-table" ic-indicator="#indicator"><span aria-hidden="true">&laquo;</span></button>
  {% endif %}
  {% for item in count|paginate:page %}
    <button class="btn btn-default {% if item == page|to_int %}active{% endif %}" type="button" ic-get-from="{% url 'admin-users-list' %}?format=html&page={{item}}&{% with q=request.GET|get:'ic-current-url'|split:'?' %}{{ q.1 }}{% endwith %}" ic-target="#interest-table" ic-indicator="#indicator">{{item}}</button>
  {% endfor %}
  {% if page|add:5 < count|page_count %}
  <button class="btn btn-default {% if forloop.counter == page|to_int %}active{% endif %}" type="button" ic-get-from="{% url 'admin-users-list' %}?format=html&page={{count|page_count}}&{% with q=request.GET|get:'ic-current-url'|split:'?' %}{{ q.1 }}{% endwith %}" ic-target="#interest-table" ic-indicator="#indicator"><span aria-hidden="true">&raquo;</span></button>
  {% endif %}
</div>
