{% extends 'admin/base.html' %}
{% load static %}

{% block title %}
Список Категорий
{% endblock %}

{% block main %}
<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Категории <small>интересов</small></h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Категории</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div id="interest-table" ic-get-from="{% url 'admin-interests-categories' %}?format=html" ic-src="{% url 'admin-interests-categories' %}?format=html" ic-trigger-on="load" ic-target="#interest-table" ic-indicator="#indicator" ic-deps="*">

          </div>
          <center> <!-- lol -->
            <i class="fa fa-spinner fa-spin fa-5x" id="indicator" style="display: none"></i>
          </center>
          <div class="pull-left">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg" ic-get-from="{% url 'admin-interests-categories/create' %}?format=html" ic-target="#create-form" ic-indicator="indicator_form">Добавить Категорию</button>

            <div id="create-form" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-body">
                    <center> <!-- lol -->
                      <i class="fa fa-spinner fa-spin fa-5x" id="indicator_form" style="display: none"></i>
                    </center>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}

{% block javascript %}
    <!-- jQuery -->
    <script src="{% get_static_prefix %}js/jquery.min.js"></script>
    <!-- Intercooler js -->
    <script src="{% get_static_prefix %}js/intercooler-0.9.7.min.js"></script>
    <!-- Bootstrap -->
    <script src="{% get_static_prefix %}js/bootstrap.min.js"></script>
    <!-- Bootstrap-select -->
    <script src="{% get_static_prefix %}js/bootstrap-select.min.js"></script>
    <!-- Custom -->
    <script src="{% get_static_prefix %}js/custom.js"></script>
    <!-- Cropper -->
    <script src="{% get_static_prefix %}js/cropper.min.js"></script>

    <script>
      $(document).ready(function() {
        window.cropp = null;

        $('#imageModal').on('hidden.bs.modal', function () {
          var img_tag = $('#tempImage');
          img_tag.attr('src', '');
          img_tag.parent().hide();
          img_tag.cropper('destroy');
          window.cropp = null;
        });
        $('#imageModal').on('show.bs.modal', function () {
          $('#image_input').parent().show();
        });
        $('#cropButton').on('click', function() {
          window.cropp.cropper('getCroppedCanvas').toBlob(function (blob) {
            var formData = new FormData();

            formData.append('files', blob);

            $.ajax('/upload/', {
              method: "POST",
              data: formData,
              processData: false,
              contentType: false,
              success: function (data, response) {
                $('#current_image').empty()
                $.each(data, function(i, val) {
                  $('#current_image').append("<div class='col-md-6 col-sm-6 col-xs-12'><div class='event_image'><img width='100%' src='" + val.path + "' /></div></div>")
                });
                current_images = current_images.concat(data.map(function(d){return d.id}));
                $('#image_id').val(data[0].id);
                $('#imageModal').modal('hide');
              },
              error: function () {
              }
            });
          });
        });

      });

      $(document).on('change', '#image_input', function() {
          var input = $(this);
          if (input.val()) {
            var reader = new FileReader();

            reader.onload = function (e) {
              input.parent().hide();
              var img_tag = $('#tempImage');
              img_tag.attr('src', e.target.result);
              img_tag.parent().show();
              window.cropp = img_tag.cropper({
                aspectRatio: 1 / 1,
                viewMode: 1,
                background: true,
                movable: false,
                rotatable: false,
                scalable: false,
                zoomable: false,
              })
            }

            reader.readAsDataURL(input.get(0).files[0]);
          }
      });
    </script>
{% endblock %}
