{% extends 'admin/base.html' %}
{% load happ %}
{% load static %}

{% block title %}
Список мероприятий {% if request.user.role == roles.moderator %} для города {{request.user.assigned_city.name}}{% endif %}
{% endblock %}

{% block main %}
<div>
  <div class="page-title">
    <div class="title_left">
      <h3>Список <small>мероприятий</small>{% if request.user.role == roles.moderator %} <small>для города </small>{{request.user.assigned_city.name}}{% endif %}</h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Мероприятия</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div>
            <div id="filter-panel" class="collapse filter-panel">
              <div class="panel panel-default">
                  <div class="panel-body">
                    {% include 'admin/events/filter_form.html' %}
                  </div>
              </div>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#filter-panel">
                <span class="fa fa-search"></span> Фильтр
            </button>
          </div>

          <!-- start project list -->
          <div id="event-table" ic-get-from="{% url 'admin-events-list' %}?format=html&page={{page|default:1}}&{{ request.GET.urlencode }}" ic-src="{% url 'admin-events-list' %}?format=html&page={{page|default:1}}&{{ request.GET.urlencode }}" ic-trigger-on="load" ic-target="#event-table" ic-indicator="#indicator" ic-deps="*">

          </div>

          <center> <!-- lol -->
            <i class="fa fa-spinner fa-spin fa-5x" id="indicator" style="display: none"></i>
          </center>
          <!-- end project list -->
          <!-- <div class="btn-group pull-right">
            <button class="btn btn-default" type="button"><i class="fa fa-angle-double-left"></i></button>
            <button class="btn btn-default" type="button">1</button>
            <button class="btn btn-default active" type="button">2</button>
            <button class="btn btn-default" type="button">3</button>
            <button class="btn btn-default" type="button"><i class="fa fa-angle-double-right"></i></button>
          </div> -->
          <div id="reject-form" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="modal-body">
                  <center> <!-- lol -->
                    <i class="fa fa-spinner fa-spin fa-5x" id="indicator_form" style="display: none"></i>
                  </center>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block javascript %}
<!-- jQuery -->
<script src="{% get_static_prefix %}js/jquery.min.js"></script>
<!-- Intercooler js -->
<script src="{% get_static_prefix %}js/intercooler-0.9.7.min.js"></script>
<!-- Bootstrap -->
<script src="{% get_static_prefix %}js/bootstrap.min.js"></script>
<!-- Custom -->
<script src="{% get_static_prefix %}js/custom.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="{% get_static_prefix %}js/moment/moment.min.js"></script>
<script src="{% get_static_prefix %}js/datepicker/daterangepicker.js"></script>
    <script src="{% get_static_prefix %}js/selectize.min.js"></script>

<script>
  $(document).ready(function() {
    if($('#start_date').val()) {
        $('#start_date').val(moment($('#start_date').val(), 'YYYYMMDD').format('DD/MM/YYYY'));
    }
    if($('#end_date').val()) {
        $('#end_date').val(moment($('#end_date').val(), 'YYYYMMDD').format('DD/MM/YYYY'));
    }
    $('.date-picker').daterangepicker({
      singleDatePicker: true,
      calender_style: "picker_4"
    }, function(start, end, label) {
      console.log(start.toISOString(), end.toISOString(), label);
    });

    $('#filter_form').submit(function() {
      if($('#start_date').val())
        $('#start_date').val(moment($('#start_date').val()).format('YYYYMMDD'));
      if($('#end_date').val())
        $('#end_date').val(moment($('#end_date').val()).format('YYYYMMDD'));
    });

    $('#city').selectize();
    $('#interests').selectize();
  });
</script>
{% endblock %}
