{% extends 'admin/base.html' %}
{% load happ %}

{% block title %}
Список мероприятий
{% endblock %}

{% block main %}
<div>
  <div class="page-title">
    <div class="title_left">
      <h3>Список <small>мероприятий</small></h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Мероприятия</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div>
            <div id="filter-panel" class="collapse filter-panel">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <form class="form" role="form" method="get" action="" id="filter_form">
                        <div class="col-md-6">
                          <div class="form-group" style="margin-right:10px;">
                              <label class="filter-col" style="margin-right:10px;" for="search">Поиск:</label>
                              <input type="text" name="search" class="form-control input-sm" id="search" value={{ request.GET.search }}>
                          </div><!-- form group [search] -->
                          <div class="form-group" style="margin-right:10px;">
                              <label class="filter-col" for="status">Статус:</label>
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="status" value="0" {% if '0' in request.GET|getlist:'status' %}checked="checked"{% endif %}> На модерации
                                </label>
                                <label>
                                  <input type="checkbox" name="status" value="1" {% if '1' in request.GET|getlist:'status' %}checked="checked"{% endif %}> Утверджен
                                </label>
                                <label>
                                  <input type="checkbox" name="status" value="2" {% if '2' in request.GET|getlist:'status' %}checked="checked"{% endif %}> Отклонен
                                </label>
                              </div>
                          </div>
                          <div class="form-group" style="margin-right:10px;">
                              <label class="filter-col" for="type">Тип:</label>
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="type" value="0" {% if '0' in request.GET|getlist:'type' %}checked="checked"{% endif %}> Стандартные
                                </label>
                                <label>
                                  <input type="checkbox" name="type" value="1" {% if '1' in request.GET|getlist:'type' %}checked="checked"{% endif %}> Featured
                                </label>
                                <label>
                                  <input type="checkbox" name="type" value="2" {% if '2' in request.GET|getlist:'type' %}checked="checked"{% endif %}> Ads
                                </label>
                              </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group" style="margin-right:10px;">
                              <label class="filter-col" for="start_date">Дата проведения: от</label>
                              <input class="date-picker form-control" type="text" name="start_date" id="start_date" value={{ request.GET.start_date }}>
                              <label class="filter-col"  for="end_date">до</label>
                              <input class="date-picker form-control" type="text" name="end_date" id="end_date" value={{ request.GET.end_date }}>
                          </div>
                        </div>
                        <div class="col-md-12 text-center">
                          <button type="submit" class="btn btn-default">Отправить</button>
                        </div>
                      </form>
                  </div>
              </div>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#filter-panel">
                <span class="fa fa-search"></span> Фильтр
            </button>
          </div>

          <!-- start project list -->
          <div id="event-table" ic-get-from="/api/v1/admin/events.html?page={{page|default:1}}&{{ request.GET.urlencode }}" ic-src="/api/v1/admin/events.html?page={{page|default:1}}&{{ request.GET.urlencode }}" ic-trigger-on="load" ic-target="#event-table" ic-indicator="#indicator" ic-deps="*">

          </div>

          <center> <!-- lol -->
            <i class="fa fa-spinner fa-spin fa-5x" id="indicator" style="display: none"></i>
          </center>
          <!-- end project list -->
          <!-- <div class="btn-group pull-right">
            <button class="btn btn-default" type="button"><i class="fa fa-angle-double-left"></i></button>
            <button class="btn btn-default" type="button">1</button>
            <button class="btn btn-default active" type="button">2</button>
            <button class="btn btn-default" type="button">3</button>
            <button class="btn btn-default" type="button"><i class="fa fa-angle-double-right"></i></button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block javascript %}
<!-- jQuery -->
<script src="/static/js/jquery.min.js"></script>
<!-- Intercooler js -->
<script src="/static/js/intercooler-0.9.7.min.js"></script>
<!-- Bootstrap -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- Custom -->
<script src="/static/js/custom.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="/static/js/moment/moment.min.js"></script>
<script src="/static/js/datepicker/daterangepicker.js"></script>

<script>
  $(document).ready(function() {
    if($('#start_date').val()) {
        $('#start_date').val(moment($('#start_date').val(), 'YYYYMMDD').format('DD/MM/YYYY'));
    }
    if($('#end_date').val()) {
        $('#end_date').val(moment($('#end_date').val(), 'YYYYMMDD').format('DD/MM/YYYY'));
    }
    $('.date-picker').daterangepicker({
      singleDatePicker: true,
      calender_style: "picker_4"
    }, function(start, end, label) {
      console.log(start.toISOString(), end.toISOString(), label);
    });

    $('#filter_form').submit(function() {
      if($('#start_date').val())
        $('#start_date').val(moment($('#start_date').val()).format('YYYYMMDD'));
      if($('#end_date').val())
        $('#end_date').val(moment($('#end_date').val()).format('YYYYMMDD'));
    });
  });
</script>
{% endblock %}
