{% load i18n %}{% autoescape off %}
{% blocktrans %}Вы получили данное письмо потому что запросили подтверждение email в режиме организатора в приложение  HAPP.{% endblocktrans %}<br />

{% trans "Пожалуйста пройдите по ссылке ниже чтобы закончить подтверждение:" %}<br />

{% block reset_link %}
<b><a href="http://{{ url }}" target="_blank">Подтвердить</a></b><br />
{% endblock %}

{% trans "Спасибо большое за использование нашего приложения!" %}<br /><br />

{% blocktrans %}С Уважением, команда HAPP!{% endblocktrans %}<br />

{% endautoescape %}
