{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}<br />

{% trans "Please go to the following page and choose a new password:" %}<br />
{% block reset_link %}
<a href="{{ schema }}://{{ domain }}{% url 'password-reset-confirm' %}?uidb64={{uid}}&token={{token}}">Reset password</a><br />
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}<br />

{% trans "Thanks for using our site!" %}<br /><br />

{% blocktrans %}The HAPP team{% endblocktrans %}<br />

{% endautoescape %}
