{% extends 'admin/base.html' %}
{% load static %}

{% block title %}
Создание событий
{% endblock %}

{% block main %}
<div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Создать событие</h3>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">
                    <br />
                    <form id="event-form" data-parsley-validate class="form-horizontal form-label-left" ic-post-to="{% url 'admin-events-list' %}" ic-on-success="window.location.replace('{% url 'event_list' %}');"  ic-indicator="#indicator3">

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Название события <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="title" name="title" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="event-type" class="control-label col-md-3 col-sm-3 col-xs-12">Тип проведения мероприятия</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select id="event-type" class="form-control col-md-7 col-xs-12">
                            <option></option>
                            <option>Балет</option>
                            <option>Вечеринка</option>
                            <option>Выставка</option>
                            <option>Концерт</option>
                            <option>Лекция</option>
                            <option>Мастер-класс</option>
                            <option>Опера</option>
                            <option>Показ фильма</option>
                            <option>Спектакль</option>
                            <option>Тренинг</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="type" class="control-label col-md-3 col-sm-3 col-xs-12">Тип</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select id="type" class="form-control col-md-7 col-xs-12" name="type">
                            <option value="0">Стандартное</option>
                            <option value="1">Featured</option>
                            <option value="2">Ads</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="city_id">Город проведения <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select id="city_id" class="form-control col-md-7 col-xs-12 selectpicker" name="city_id" data-live-search="true">
                            {% for item in cities %}
                              <option value="{{item.id}}" data-subtext="{{item.country_name}}" lng="{{item.geopoint.coordinates.0}}" lat="{{item.geopoint.coordinates.1}}">{{item.name}}</option>
                            {% endfor%}
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="date" class="control-label col-md-3 col-sm-3 col-xs-12">Дата проведения мероприятия</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="date" class="date-picker form-control col-md-7 col-xs-12" type="text" name="">
                        </div>
                      </div>
                      <div class="form-group">

                        <label for="date" class="control-label col-md-3 col-sm-3 col-xs-12">Выбранные даты</label>
                        <div class="col-md-6 col-sm-6 col-xs-12" style="overflow:scroll; max-height:150px;">
                          <ul id="date_list" class="list-group"></ul>
                        </div>

                        <!-- <input type="hidden" name="start_datetime" id="start_datetime" />
                        <input type="hidden" name="end_datetime" id="end_datetime" /> -->
                        <input type="hidden" name="raw_datetimes" id="datetimes" />
                      </div>
                      <div class="form-group">
                        <label for="close_on_start" class="control-label col-md-3 col-sm-3 col-xs-12">Можно посетить в любое время?</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="checkbox" class="checkbox flat" name="close_on_start" id="close_on_start" checked="checked" value="1">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Стоимость билета</label>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                          <label for="min_price" class="control-label col-md-1 col-sm-3 col-xs-12">От</label>
                          <input id="min_price" class="form-control col-md-7 col-xs-12" type="text" name="min_price" value="0">
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                          <label for="max_price" class="control-label col-md-1 col-sm-3 col-xs-12">До</label>
                          <input id="max_price" class="form-control col-md-7 col-xs-12" type="text" name="max_price">
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                          <label for="currency-price" class="control-label col-md-1 col-sm-3 col-xs-12">Валюта</label>
                          <select id="currency_id" class="form-control col-md-7 col-xs-12 selectpicker" name="currency_id">
                            {% for item in currencies %}
                              <option value="{{item.id}}">{{item.name}}</option>
                            {% endfor%}
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="interest_ids" class="control-label col-md-3 col-sm-3 col-xs-12">Интерес</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select id="interest_ids" class="form-control col-md-7 col-xs-12 selectpicker" name="interest_ids" data-live-search="true">
                            {% for item in interests %}
                              <option value="{{item.id}}" style="font-weight: bold">{{item.title}}</option>
                              {% for child in item.children %}
                                <option value="{{child.id}}" style="padding-left: 40px;">{{child.title}}</option>
                              {% endfor%}
                            {% endfor%}
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="place_name" class="control-label col-md-3 col-sm-3 col-xs-12">Место проведения</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select id="place_name" class="form-control col-md-7 col-xs-12 place_name selectized">
                          </select>
                          <div id="map"></div>
                          <input type="hidden" name="geopoint_lng" id="geopoint_lng" />
                          <input type="hidden" name="geopoint_lat" id="geopoint_lat" />

                        </div>
                      </div>
                      <div class="form-group">
                        <label for="description" class="control-label col-md-3 col-sm-3 col-xs-12">Названия места проведения</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="place_name" id="place_name_txt" class="form-control col-md-7 col-xs-12" />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="description" class="control-label col-md-3 col-sm-3 col-xs-12">Адрес</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="address" id="address" class="form-control col-md-7 col-xs-12" />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="description" class="control-label col-md-3 col-sm-3 col-xs-12">Описание</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea id="description" class="form-control col-md-7 col-xs-12" type="text" name="description" rows="10"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="phones" class="control-label col-md-3 col-sm-3 col-xs-12">Телефоны организаторов <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12 phone_input_fields_wrap">
                          <div class="input-group">
                            <input id="phones" class="form-control" type="text" name="phones" required="required"><span class="input-group-addon remove_phone_field" id="remove_phone" aria-hidden="true" title="Удалить телефон" style="cursor:pointer" data-toggle="tooltip">-</span>
                          </div>
                          <button class="btn btn-link add_phone_button">Добавить еще телефон</button>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="email" class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="email" class="form-control col-md-7 col-xs-12" type="email" name="email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="web_site" class="control-label col-md-3 col-sm-3 col-xs-12">Веб сайт мероприятия или организатора</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="web_site" class="form-control col-md-7 col-xs-12" type="text" name="web_site" >
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="registration_link" class="control-label col-md-3 col-sm-3 col-xs-12">Ссылка на регистрацию или покупка билетов</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="registration_link" class="form-control col-md-7 col-xs-12" type="text" name="registration_link">
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12" style="padding-top: 8px">
                          <span class="glyphicon glyphicon-refresh" aria-hidden="true" id="registration_link_shortener" title="Укоротить ссылку" style="cursor:pointer" data-toggle="tooltip"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="age_restriction" class="control-label col-md-3 col-sm-3 col-xs-12">Возрастные ограничения</label>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                          <label for="min_age" class="control-label col-md-1 col-sm-3 col-xs-12">От</label>
                          <input id="min_age" class="form-control col-md-7 col-xs-12" type="text" name="min_age" value="0">
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                          <label for="max_age" class="control-label col-md-1 col-sm-3 col-xs-12">До</label>
                          <input id="max_age" class="form-control col-md-7 col-xs-12" type="text" name="max_age">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="image_ids" class="control-label col-md-3 col-sm-3 col-xs-12">Изображения</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="row">
                            <div id="current_images"></div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="image_ids" class="form-control col-md-7 col-xs-12" type="hidden" name="image_ids" value="[]">
                              <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#imageModal">
                                Добавить изображение
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success"  ic-include="#event-form">Создать <i id="indicator3" class="ic-indicator fa fa-spinner fa-spin" style="display: none;"></i></button>
                      </div>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="imageModalLabel">Добавить изображение</h4>
                </div>
                <div class="modal-body">
                  <div class="text-center">
                    <label class="btn btn-default btn-file">
                      Выбрать <input id="image_input" type="file" style="display: none;" name="files">
                    </label>
                  </div>
                  <div style="display: none;">
                    <img id="tempImage" class="croppingImg" />
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                  <button type="button" class="btn btn-primary" id="cropButton">Сохранить</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="confirm-image-delete" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Вы действительно хотите удалить изображение
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
                        <a class="btn btn-danger btn-ok confirm-image-delete-yes">Да</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock%}

{% block javascript %}
    <!-- jQuery -->
    <script src="{% get_static_prefix %}js/jquery.min.js"></script>
    <!-- Intercooler js -->
    <script src="{% get_static_prefix %}js/intercooler-0.9.7.min.js"></script>
    <!-- Bootstrap -->
    <script src="{% get_static_prefix %}js/bootstrap.min.js"></script>
    <!-- Bootstrap-select -->
    <script src="{% get_static_prefix %}js/bootstrap-select.min.js"></script>
    <!-- Custom -->
    <script src="{% get_static_prefix %}js/custom.js"></script>
    <!-- Cropper -->
    <script src="{% get_static_prefix %}js/cropper.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{% get_static_prefix %}js/moment/moment.min.js"></script>
    <script src="{% get_static_prefix %}js/datepicker/daterangepicker.js"></script>
    <script src="{% get_static_prefix %}js/selectize.min.js"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap"></script>

    <script>


      datetimes = []
      function delete_datetime(index){
        datetimes.splice(index, 1);
        $('#date_list').empty();
        for(date in datetimes){
          $('#date_list').append('<li id="date_id'+date+'" class="list-group-item">'+moment(datetimes[date].date, ["YYYYMMDD"]).format('DD-MM-YYYY') + " время начало: " + moment(datetimes[date].start_time, 'HHmm').format('HH:mm') + " время конца: " + moment(datetimes[date].end_time, 'HHmm').format('HH:mm')+' <a onclick="delete_datetime('+date+')"><i class="fa fa-trash-o"></i></a></li>');
        }
        $('#datetimes').val(JSON.stringify(datetimes))
        console.log(datetimes);
      }


      $(document).ready(function() {
        window.cropp = null;

        $('#date').daterangepicker({
            showDropdowns: true,
            timePicker: true,
            timePicker24Hour: 1,
            timePickerIncrement: 1,
        }, function(start, end, label) {
          console.log(start, end, start.format('YYYYMMDD')==end.format('YYYYMMDD'))

          if(start.format('YYYYMMDD')==end.format('YYYYMMDD')){
            datetimes.push({ date: start.format('YYYYMMDD'), start_time: start.format('HHmmss'), end_time: end.format('HHmmss') })
          }else{
            for (var d = start; d <= end; d.add(1, 'd')) {
              datetimes.push({ date: d.format('YYYYMMDD'), start_time: start.format('HHmmss'), end_time: end.format('HHmmss') })
            }
          }

          $('#date_list').empty();
          for(date in datetimes){
            $('#date_list').append('<li id="date_id'+date+'" class="list-group-item">'+moment(datetimes[date].date, ["YYYYMMDD"]).format('DD-MM-YYYY') + " время начало: " + moment(datetimes[date].start_time, 'HHmm').format('HH:mm') + " время конца: " + moment(datetimes[date].end_time, 'HHmm').format('HH:mm')+' <a onclick="delete_datetime('+date+')"><i class="fa fa-trash-o"></i></a></li>');
          }

          $('#datetimes').val(JSON.stringify(datetimes))

          console.log(datetimes);
        });

        var delete_datetime = function(index){
          datetimes.splice(index-1, 1);
          $(this).parent().remove();
        }

        $('#event-type').change(function() {
          $('#title').val($(this).val() + ' «' + $('#title').val() + '»');
        });

        $('#registration_link_shortener').click(function(){
          var url = "{% url 'admin-shorten-url' %}?url=" + $('#registration_link').val();
          $.get( url, function( data ) {
              $('#registration_link').val(data.shorten_url);
            }
          )
        });
        $('#imageModal').on('hidden.bs.modal', function () {
          var img_tag = $('#tempImage');
          img_tag.attr('src', '');
          img_tag.parent().hide();
          img_tag.cropper('destroy');
          window.cropp = null;
        });
        $('#imageModal').on('show.bs.modal', function () {
          $('#image_input').parent().show();
        });
        $('#cropButton').on('click', function() {
          window.cropp.cropper('getCroppedCanvas').toBlob(function (blob) {
            var formData = new FormData();

            formData.append('files', blob);

            $.ajax('/upload/', {
              method: "POST",
              data: formData,
              processData: false,
              contentType: false,
              success: function (data, response) {
                var current_images = JSON.parse($('#image_ids').val());
                $.each(data, function(i, val) {
                  $('#current_images').append("<div class='col-md-6 col-sm-6 col-xs-12'><div class='event_image' index=" + (current_images.length + i) + " data-toggle='modal' data-target='#confirm-image-delete'><img width='100%' src='" + val.path + "' /><span class='event_image_hover'>Удалить</span></div></div>")
                });
                current_images = current_images.concat(data.map(function(d){return d.id}));
                $('#image_ids').val(JSON.stringify(current_images));
                $('#imageModal').modal('hide');
              },
              error: function () {
              }
            });
          });
        });
        $('#confirm-image-delete').on('show.bs.modal', function(e) {
          $(this).find('.btn-ok').attr('index', $(e.relatedTarget).attr('index'));

        });
        $('.confirm-image-delete-yes').on('click', function(e) {
          var index = $(this).attr('index');
          var current_images = JSON.parse($('#image_ids').val());
          current_images.splice(index, 1);
          $('#image_ids').val(JSON.stringify(current_images));
          var el = $('.event_image[index='+index+']');
          el.parent().remove();
          $('#confirm-image-delete').modal('hide');
        });

        $('#place_name').selectize({
          valueField: 'name',
          labelField: 'name',
          searchField: 'name',
          loadThrottle: 500,
          render: {
              option: function(item, escape) {
                  return '<div>' +
                      '<div class="col-md-2 col-sm-2 col-xs-12">' +
                          (item.photos ? '<img class="img-circle" src="{% url "google_photos_api" %}?photoreference=' + escape(item.photos[0].photo_reference) + '&max_width=40" style="height:40px; width:40px" alt="">' : '') +
                      '</div>' +
                      '<div class="col-md-10 col-sm-10 col-xs-12">' +
                        '<div class="text-primary">' + escape(item.name) + '</div>' +
                        '<div class="text-muted">' + escape(item.formatted_address) + '</div>' +
                      '</div>' +
                  '</div>';
              }
          },
          load: function(query, callback) {
              if (!query.length) return callback();
              $(this)[0].clearOptions();
              $.ajax({
                  url: '{% url "google_places_api" %}',
                  type: 'POST',
                  data: {
                      text: query,
                  },
                  error: function() {
                      callback();
                  },
                  success: function(res) {
                      callback(res.results);
                  }
              });
          },
          onLoad: function(data){
            // console.log(data);
            $(this)[0].open();
          },
          onChange: function(value) {
            var options = $(this)[0].options;
            var item = options[value];
            if (item !== undefined) {
              $('#geopoint_lng').val(item.geometry.location.lng);
              $('#geopoint_lat').val(item.geometry.location.lat);
              $('#address').val(item.formatted_address);
              $('#place_name_txt').val(item.name);
              map = new google.maps.Map(document.getElementById('map'), {
                center: {lng: item.geometry.location.lng, lat: item.geometry.location.lat},
                zoom: 15
              });
              marker = new google.maps.Marker({
                position: {lng: item.geometry.location.lng, lat: item.geometry.location.lat},
                label: item.formatted_address,
                title: item.name,
                map: map,
                draggable:true
              });
              marker.addListener('dragend', function() {
                var position = marker.getPosition();
                $('#geopoint_lng').val(position.lng());
                $('#geopoint_lat').val(position.lat());
                // console.log(marker.getPosition().lat());
              });
            } else {
              $('#geopoint_lng').val('');
              $('#geopoint_lat').val('');
              $('#address').val('');
              $('#place_name_txt').val('')
              marker.setMap(null);
            }
          },
        });

        var phones_wrapper         = $('.phone_input_fields_wrap');
        var phones_add_button      = $('.add_phone_button');

        $(phones_add_button).click(function(e){
            e.preventDefault();
            $(this).before('<div class="input-group"><input id="phones" class="form-control" type="text" name="phones" required="required" aria-describedby="remove_phone"><span class="input-group-addon remove_phone_field" id="remove_phone" aria-hidden="true" title="Удалить телефон" style="cursor:pointer" data-toggle="tooltip">-</span></div>');
        });

        $(phones_wrapper).on('click','.remove_phone_field', function(e){
            e.preventDefault();
            $(this).parent('div').remove();
        });

      });

      $(document).on('change', '#image_input', function() {
          var input = $(this);
          if (input.val()) {
            var reader = new FileReader();

            reader.onload = function (e) {
              input.parent().hide();
              var img_tag = $('#tempImage');
              img_tag.attr('src', e.target.result);
              img_tag.parent().show();
              window.cropp = img_tag.cropper({
                aspectRatio: 1 / 1,
                viewMode: 1,
                background: true,
                movable: false,
                rotatable: false,
                scalable: false,
                zoomable: false,
              })
            }

            reader.readAsDataURL(input.get(0).files[0]);
          }
      });
      var map;
      var marker;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lng: {{cities.0.geopoint.coordinates.0}}, lat: {{cities.0.geopoint.coordinates.1}}},
          zoom: 11
        });
      };
      $("#city_id").change(function () {
        $( "#city_id option:selected" ).each(function() {
          var lng = parseFloat($(this).attr('lng'));
          var lat = parseFloat($(this).attr('lat'));
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lng: lng, lat: lat},
            zoom: 11
          });
          //console.log($( this ).attr('lat'), $( this ).attr('lng'))
        });
      });
    </script>
{% endblock %}
