{% load happ %}

<form class="form" role="form" method="get" action="" id="filter_form">
  <div class="col-md-6">
    <div class="form-group" style="margin-right:10px;">
        <label class="filter-col" style="margin-right:10px;" for="search">Поиск:</label>
        <input type="text" name="search" class="form-control input-sm" id="search" value={{ request.GET.search }}>
    </div><!-- form group [search] -->
    <div class="form-group" style="margin-right:10px;">
        <label class="filter-col" for="type">Тип:</label>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="type" value="0" {% if '0' in request.GET|getlist:'type' %}checked="checked"{% endif %}> Стандартные
          </label>
          <label>
            <input type="checkbox" name="type" value="1" {% if '1' in request.GET|getlist:'type' %}checked="checked"{% endif %}> Featured
          </label>
          <label>
            <input type="checkbox" name="type" value="2" {% if '2' in request.GET|getlist:'type' %}checked="checked"{% endif %}> Ads
          </label>
        </div>
    </div>
    {% if request.user.role != roles.moderator %}
      <div class="form-group" style="margin-right:10px;">
          <label class="control-label" for="city">Город проведения</label>
          <select id="city" class="form-control selectize" name="city" multiple="multiple">
            {% for item in cities %}
              <option value="{{item.id}}" data-subtext="{{item.country_name}}" {% if item.id|stringformat:'s' in request.GET|getlist:'city' %}selected="selected"{% endif %}>{{item.name}}</option>
            {% endfor%}
          </select>
      </div>
    {% endif %}
  </div>
  <div class="col-md-6">
    <div class="form-group" style="margin-right:10px;">
        <label class="filter-col" for="start_date">Дата проведения: от</label>
        <input class="date-picker form-control" type="text" name="start_date" id="start_date" value={{ request.GET.start_date }}>
        <label class="filter-col"  for="end_date">до</label>
        <input class="date-picker form-control" type="text" name="end_date" id="end_date" value={{ request.GET.end_date }}>
    </div>
    <div class="form-group" style="margin-right:10px;">
        <label for="interests" class="control-label">Интерес</label>
        <select id="interests" class="form-control selectpicker" name="interests" multiple="multiple">
          {% for item in interests %}
            <option value="{{item.id}}" style="font-weight: bold" {% if item.id|stringformat:'s' in request.GET|getlist:'interests' %}selected="selected"{% endif %}>{{item.title}}</option>
            {% for child in item.children %}
              <option value="{{child.id}}" style="padding-left: 40px;" {% if child.id|stringformat:'s' in request.GET|getlist:'interests' %}selected="selected"{% endif %}>{{child.title}}</option>
            {% endfor%}
          {% endfor%}
        </select>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <button type="submit" class="btn btn-default">Отправить</button>
  </div>
</form>
