{% for item in results %}
<tr>
  <td></td>
  <td>
    <img src="/static/images/picture.jpg" class="event-img" />
  </td>
  <td>
    <a>{{item.title}}</a>
  </td>
  <td>
    <img src="/static/images/marat.jpeg" class="avatar" alt="Avatar">
    <br/><br/>
    <a>{{item.author.fn}}</a>
  </td>
  <td>
    {{city.title}}
  </td>
  <td>
    {{item.address}}
  </td>
  <td>
    {{item.date_edited}}
  </td>
  <td>
    {{item.start_datetime}}
  </td>
  <td>
    <button type="button" class="btn btn-success btn-xs">{{item.status}}</button>
  </td>
  <td>
    <a href="/admin/event/{{item.id}}" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i> Просмотр </a>
    <a href="/admin/event/edit/{{item.id}}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Редактировать </a>
    <a href="/admin/event/delete/{{item.id}}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Удалить </a>
  </td>
</tr>
{% endfor %}
<tr ic-append-from="{{next}}" ic-trigger-on="scrolled-into-view" ic-target="#event-table-body" ic-indicator="#indicator"></tr>
