{% load happ %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th style="width:1%;">#</th>
      <th>Название Интереса</th>
      <th>Категория</th>
      <th>Тип</th>
      <th>Город</th>
      <th style="width: 30%">Действия</th>
    </tr>
  </thead>
  <tbody>
  {% for item in results %}
    <tr id="row-{{item.id}}">
      <th scope="row">{{forloop.counter|page_counter:page}}</th>
      <td>{{item.title}}</td>
      <td>{{item.parent.title}}</td>
      <td>{% if item.is_global %}Глобальный{% else %}Городской{% endif %}</td>
      <td>
        {% for city in item.local_cities %}
          {{ city.name }},
        {% endfor %}
      </td>
      <td>
        <a href="#" class="btn btn-info btn-xs" ic-on-beforeSend="$('#create-form').modal('show');" ic-get-from="{% url 'admin-interests-detail' id=item.id %}?format=html" ic-target="#create-form" ic-indicator="indicator-update"><i class="fa fa-pencil"></i> Редактировать <i id="indicator-update" class="ic-indicator fa fa-spinner fa-spin" style="display: none;"></i></a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<div class="btn-group pull-right">
  {% for item in count|paginate %}
  <button class="btn btn-default {% if forloop.counter == page %}active{% endif %}" type="button" ic-get-from="{% url 'admin-interests-children' %}?format=html&page={{forloop.counter}}" ic-target="#interest-table" ic-indicator="#indicator">{{forloop.counter}}</button>
  {% endfor %}
</div>
