<div class="modal-dialog modal-lg">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title" id="myModalLabel">Добавить новую категорию</h4>
    </div>
    <div class="modal-body">

      <form id="category-form" data-parsley-validate class="form-horizontal form-label-left">
        <center> <!-- lol -->
          <i class="fa fa-spinner fa-spin fa-5x" id="indicator_form" style="display: none"></i>
        </center>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="event-name">Название категории <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="category-name" name="title" required="required" class="form-control col-md-7 col-xs-12">
            <input type="hidden" name="parent_id"/>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
      <button type="button" class="btn btn-primary" ic-post-to="{% url 'admin-interests-list' %}" ic-include="#category-form" ic-target="#success" ic-on-success="$('#create-form').modal('hide');"  ic-indicator="#indicator3">Сохранить <i id="indicator3" class="ic-indicator fa fa-spinner fa-spin" style="display: none;"></i></button>
    </div>
    <div id="success" style="display:none;">

    </div>

  </div>
</div>
