{% load happ %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th style="width:1%;">#</th>
      <th style="width:120px">Изображение</th>
      <th>Название Категории </th>
      {% if request.user.role != roles.moderator %}<th style="width: 30%">Действия</th>{% endif %}
    </tr>
  </thead>
  <tbody>
    {% for item in results %}
    <tr>
      <th scope="row">{{forloop.counter|page_counter:page}}</th>
      <td>
          <img src="{{item.image.path}}" style="width:100px" />
      </td>
      <td><a href="{% url 'event_list' %}?interests={{item.id}}" class="btn btn-link">{{item.title}}</a></td>
      {% if request.user.role != roles.moderator %}
        <td>
          {% if item.is_active %}<a href="#" class="btn btn-warning btn-xs" ic-post-to="{% url 'admin-interests-deactivate' id=item.id %}" ic-indicator="indicator-update"><i class="fa fa-power-off"></i> Деактивировать <i id="indicator-update" class="ic-indicator fa fa-spinner fa-spin" style="display: none;"></i></a>{% else %}<a href="#" class="btn btn-warning btn-xs" ic-post-to="{% url 'admin-interests-activate' id=item.id %}" ic-indicator="indicator-update"><i class="fa fa-power-off"></i> Активировать <i id="indicator-update" class="ic-indicator fa fa-spinner fa-spin" style="display: none;"></i></a>{% endif %}
          <a href="#" class="btn btn-info btn-xs" ic-on-beforeSend="$('#create-form').modal('show');" ic-get-from="{% url 'admin-interests-detail' id=item.id %}?format=html&category=true" ic-target="#create-form"><i class="fa fa-pencil"></i> Редактировать <i id="indicator-update" class="ic-indicator fa fa-spinner fa-spin" style="display: none;"></i></a>
          <a href="#" class="btn btn-danger btn-xs" ic-delete-from="{% url 'admin-interests-detail' id=item.id %}" indicator="#indicator-delete" ic-confirm="Вы уверены, что хотите удалить?"><i class="fa fa-trash-o"></i> Удалить <i id="indicator-delete" class="ic-indicator fa fa-spinner fa-spin" style="display: none;"></i></a>
        </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
