{% load happ %}
<table class="table table-bordered" ic-src="{% url 'admin-cities-list' %}?format=html" ic-target="#city-table" ic-indicator="#indicator">
  <thead>
    <tr>
      <th style="width:1%;">#</th>
      <th>Название города</th>
      <th>Страна</th>
      <th>Статус</th>
      <th style="width: 30%">Действия</th>
    </tr>
  </thead>
  <tbody id="city-table-body">
  {% for item in results %}
    <tr id="row-{{item.id}}">
      <th scope="row">{{forloop.counter}}</th>
      <td><a href="{% url 'event_list' %}?city={{item.id}}" class="btn btn-link">{{item.name}}</a></td>
      <td>{{item.country_name}}</td>
      <td>{% if item.is_active %}Активен{% else %}Не активен{% endif %}</td>
      <td>
        {% if item.is_active %}<a href="#" class="btn btn-warning btn-xs" ic-post-to="{% url 'admin-cities-deactivate' id=item.id %}" ic-indicator="indicator-update"><i class="fa fa-power-off"></i> Деактивировать <i id="indicator-update" class="ic-indicator fa fa-spinner fa-spin" style="display: none;"></i></a>{% else %}<a href="#" class="btn btn-warning btn-xs" ic-post-to="{% url 'admin-cities-activate' id=item.id %}" ic-indicator="indicator-update"><i class="fa fa-power-off"></i> Активировать <i id="indicator-update" class="ic-indicator fa fa-spinner fa-spin" style="display: none;"></i></a>{% endif %}
        <a href="#" class="btn btn-info btn-xs" ic-on-beforeSend="$('#create-form').modal('show');" ic-get-from="{% url 'admin-cities-detail' id=item.id %}?format=html" ic-target="#create-form"><i class="fa fa-pencil"></i> Редактировать <i id="indicator-update" class="ic-indicator fa fa-spinner fa-spin" style="display: none;"></i></a>
      </td>
    </tr>
  {% endfor %}
    <tr ></tr>
  </tbody>
</table>
<div class="btn-group pull-right">
  <!-- <button class="btn btn-default" type="button"><i class="fa fa-angle-double-left"></i></button> -->
  {% for item in count|paginate %}
  <button class="btn btn-default" type="button" ic-get-from="{% url 'admin-cities-list' %}?format=html&page={{forloop.counter}}" ic-target="#city-table" ic-indicator="#indicator">{{forloop.counter}}</button>
  {% endfor %}
<!--   <button class="btn btn-default active" type="button" ic-get-from="{% url 'admin-cities-list' %}?format=html&page=2" ic-target="#city-table" ic-indicator="#indicator">2</button>
  <button class="btn btn-default" type="button">3</button>
  <button class="btn btn-default" type="button"><i class="fa fa-angle-double-right"></i></button> -->
</div>
